    {%load static%}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exames - Oculare</title>
        <link rel="stylesheet" href="{%static 'css/servicos.css' %}">
        <script src="{% static 'servicos.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    </head>


    <body>

        

        <div class="img0">
        <img src="{%static 'img/ft2.webp' %}" alt="" class="foto1">

    </div>
        

        <div class="quadrado">
            <div class="texto">
            
                <h1 class="titulo">Exames Oftalmológicos</h1>
            <div class="txt1">
                <p>A Boa Vista oferece exames oftalmológicos em São Paulo, contando com uma equipe de 
                    profissionais altamente qualificados e equipamentos de última geração. Nosso compromisso 
                    é detectar problemas oculares precocemente, aumentando as chances de cura
                e proporcionando uma melhora rápida e eficaz para nossos pacientes.</p>
                
                </div>

            </div>
                
        </div> 
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br>    


    </div>
    <!--<img src="/Exames/img/foto 1.png" class="foto1">-->


    <img src="{%static 'img/ft3.webp' %}" alt="" class="ft2">

    <div class="t22">
    <p>Exames oftalmológicos<br> precisos com a Clínica<br> Oculare</p>
    </div>

    <div class="p2">
    <h1>A Clínica Oculare disponibiliza exames oftalmológicos completos para avaliar a saúde ocular e detectar
        problemas de visão. Entre os exames, destacam-se a refração, que mede miopia, hipermetropia, 
        astigmatismo e presbiopia; a tonometria, que verifica a pressão intraocular para diagnóstico de glaucoma;
        e o mapeamento de retina, que analisa a saúde da retina e identifica doenças como retinopatia diabética.
        A clínica também utiliza tecnologia avançada, como a topografia de córnea, para diagnósticos detalhados.
        </h1>

    </div>

    <br><br>


            <button class="botagend" type="button" onclick="location.href='{% url 'agendamento' %}'">Agendar consulta</button>




    <div class="linha">
    <hr>
    </div>


    <br><br><br><br><br><br><br><br>
        
    
    </div>
        


    <div class="linha2">
        <hr>
        </div>


    <div class="card1">
        
    </div>


    <div class="txt3">
        <p>Na Clínica Oculare, oferecemos cuidados de excelência para a sua saúde ocular, destacando o exame de 
            retinografia. Essa técnica avançada captura imagens detalhadas da retina, sendo essencial para a 
            detecção precoce de condições oculares, sem a necessidade de dilatação das pupilas, o que torna o
            procedimento mais confortável e rápido. Agende seu exame conosco e assegure um monitoramento preciso
            da sua saúde ocular. Nossa equipe está pronta para oferecer um atendimento de alta qualidade e 
            esclarecer suas dúvidas.</p>
        </div>          
    


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="card2">
        
        </div>
        
        
        <div class="txt4">
            <p>Na Oculare, realizamos a gonioscopia, um exame especializado que avalia o ângulo de drenagem do 
                olho, fundamental para diagnosticar e monitorar condições como o glaucoma. Este exame deve ser 
                feito por um oftalmologista qualificado, garantindo precisão no diagnóstico. Nossa equipe é 
                dedicada a oferecer atendimento de alta qualidade, assegurando que cada exame seja realizado 
                com cuidado e expertise.</p>
            </div>


            <button class="botao2" type="button" onclick="toggleConteudo()">Mais Exames</button>

            <script>
              function toggleConteudo() {
                const conteudoElement = document.getElementById("conteudo");
                conteudoElement.style.display = conteudoElement.style.display === "block" ? "none" : "block";
              }
            </script>
            

            <div id="conteudo">     
        <br><br>



                <div class="card3">
                    <div class="img1">
                        <img src="/EXAMES/img/logo2maior.png" >
                    </div>
                </div>
                    
                    
                <div  class="txt5">
                    <p>Na Clínica Oculare, oferecemos cuidados de excelência para sua saúde ocular. Um dos nossos principais serviços é o exame de
                         retinografia, que captura imagens detalhadas da retina sem necessidade de dilatação das pupilas, tornando o procedimento 
                         mais confortável e rápido. Esse exame é essencial para a detecção precoce de condições oculares que podem afetar sua 
                         visão. Agende seu exame conosco para garantir um monitoramento preciso da sua saúde ocular. Nossa equipe está pronta para 
                         oferecer atendimento de alta qualidade e esclarecer suas dúvidas.</p>
                    </div>          
                
                
                
                <br><br>   
                
                    <div class="card4">
                        <div class="img1">
                            <img src="/EXAMES/img/logo2maior.png" >
                        </div>
                    </div>
                    
                    
                    <div  class="txt6">
                        <p>O exame de fotodocumentação do segmento anterior em São Paulo, realizado pela renomada Clínica 
                            Oculare, é um procedimento altamente especializado que visa capturar imagens detalhadas das 
                            estruturas oculares localizadas na região frontal do olho. Esse exame abrange a fotografia de 
                            componentes essenciais como a córnea, a íris, a pupila e a conjuntiva. Utilizando uma câmera de 
                            fotografia de segmento anterior de última geração, a Clínica Oculare garante uma visualização nítida 
                            e minuciosa dessas estruturas, permitindo uma análise precisa e um acompanhamento detalhado de 
                            quaisquer alterações ou condições oculares. Este processo é fundamental para o diagnóstico e 
                            monitoramento de diversas condições oculares, oferecendo aos profissionais de saúde ocular uma
                            ferramenta valiosa para a manutenção da saúde visual dos pacientes.</p>
                        </div>  
            </div>

    </body>


    </html>